{% extends "./base.html.twig" %}

{% block body %}
    <div class="w-4/5 mx-auto">
        <div class="py-12 border-gray-200 text-center">
            <h1 class="text-5xl font-bold">
                Your Posts ({{ posts|length }})
            </h1>
        </div>

        {% if posts is not empty %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 py-15">
                {% for post in posts %}
                    <div class="border border-gray-300 rounded-md shadow-md">
                        <div class="px-6 py-4">
                            <h2 class="text-2xl font-bold text-gray-800 py-2">
                                {{ post.title }}
                            </h2>
                            <p class="text-sm text-gray-800 py-4 leading-8 font-light">
                                {{ post.getPublicationDate|date('F d, Y H:i:s') }}
                            </p>
                            <p class="text-base text-gray-800 leading-8 font-light">
                                {{ post.description|slice(0, 150) }}{{ post.description|length > 150 ? '...' : '' }}
                            </p>
                            <a href="{{ path('post_show', {'id': post.id}) }}"
                               class="bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 rounded-lg text-sm px-5 py-2 text-center text-white mt-4 inline-block">
                                Keep Reading
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="py-12 border-gray-200 text-center">
                <h1 class="text-5xl font-bold">
                    No posts found
                </h1>
            </div>
        {% endif %}
        <p class="pt-20 text-xl text-center py-6">
            <a href="{{ path('post_create') }}"
               class="bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 rounded-lg text-sm px-5 py-2 text-center text-white mt-4 inline-block">
                Create a new post
            </a>
        </p>
    </div>
{% endblock %}
